* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto ",sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    /* background-color: rgb(11, 11, 11); */
    color: white;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 2rem 8rem;
    justify-content: space-between;
    align-items: flex-start;
    /* border-bottom: 2px solid gray; */
    height: 12vh;
    background-color: rgb(11, 11, 11);
    z-index: 10;
}

.nav-part-two {
    display: flex;
    align-items: flex-start;
    padding: 0.8vh 0vh;
    position: relative;
    z-index: 10;
}

.nav-part-two h4 {
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.44vw;
}

.nav-bottom {
    margin: 0vw 0.8vw ;
}

.nav-part-two h5 {
    margin-bottom: 0.8vw;
    display: none;
    overflow: hidden;
}

.nav-part-two h5 span {
    font-size: 0.8vw;
    font-weight: 500;
    display: inline-block;
    transform: translateY(20px);
}

nav button {
    padding: 0.8vw 1.2vw;
    background-color: #0DA34E;
    color: white;
    border: none;
    border-radius: 4rem;
    font-weight: 700;
}

.nav-bottom-options {
    width: 80%;
    /* height: 0vh; */
    /* height: 20vh; */
    position: absolute;
    top: 100%;
    z-index: 9;
    background-color: rgb(11, 11, 11);
    border-bottom: 2px solid white;
    border-radius: 4px;
}

/* nav:hover .nav-part-two h5{
    opacity: 1;
}

nav:hover .nav-bottom-options{
    height: 20vh;
} */

#pgone {
    height: 100vh;
    width: 100%;
    background-color: rgb(11, 11, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pgone h1 {
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 6vw;
}   

#pgone h1 svg {
    height: 4.2vw;
    width: 4.2vw;
    background-color: #0DA34E;
    border-radius: 50%;
}

#pgone p {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.6vw;
    color: rgb(200, 200, 200);
}

#pgonebtn {
    margin-top: 0.65rem;
}
#pgonebtn a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    border: 1px solid rgb(161, 159, 159);
    border-radius: 4rem;
    padding: 8px 8px ;
}

.moving-element {
    margin-top: 12vh;
    position: absolute;
    bottom: 8%;
    width: 48%;
    white-space: nowrap;
    padding: 1vw;
    overflow: hidden;
}

.blur-effect-left {
    height: 100%;
    width: 12%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent, rgb(11,11,11));
}

.moving-element .moving-images {
    display: inline-block;
    animation-name: moving-element;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-element .moving-images img{
    height: 2vw;
    margin: 0 1vw;
}

.blur-effect-right {
    height: 100%;
    width: 12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(to right, transparent, rgb(11,11,11));
}

@keyframes moving-element {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#pgtwo {
    height: 100vh;
    width: 100%;
    background-color: rgb(11, 11, 11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 8vw;
    padding-bottom: 4vw;
    border-top: 2px solid #333;
}

.page-two-left {
    height: 80%;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 0;
}

.page-two-left p {
    color: #999;
    font-size: 1vw;
}

.page-two-left h5 {
    color: #999;
    width: 76%;
    font-size: 1.2vw;
    font-weight: 400;
}

.page-two-right {
    height: 100%;
    width: 56%;
}

.right-headlines {
    position: relative;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-bottom: 1px solid #444;
}

.right-headlines img {
    height: 8vw;
    width: 8vw;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}

.right-headlines h2 {
    font-size: 1.6vw;
    font-weight: 400;
}
